/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 oct. 2018, 12:30:06
    Author     : Administrateur
*/

body{
   text-align: center;
   margin : 0 auto;
   background-color:lightgray;
}

header,footer,main{
    width:1280px;
    margin:0 auto;
}

nav{
    background-color:gray;
    height:40px;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

nav a{
    color:white;
    font-weight: bold;
    padding:11px 20px;
    transition: all 0.3s ease-out;
}

nav a:hover{
    background-color: lightgray;
    
}

a{
    text-decoration: none;
}

#titre_page{
    background-image:url("../Images/fond_carte.jpg");
    border:1px solid black;
    padding:10px;
    margin-bottom: 20px;
}

header > h1{
    background-color:white;
    display:inline-block;
    padding:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


button{
    background-color:lightcoral;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    padding:15px;
    border:none;
    font-size:40px;
    transition: all 0.2s ease-out;
    margin:20px auto;
    display:block;
}

button:hover{
    background-color:red;
}

button:active{
    background-color:blue;
    transition: none;
}

table{
     margin: 20px auto;
}

table,tr,td{
    border:1px solid black;
    border-collapse: collapse;
}

td{
    padding:5px;
    width: 30px;
    height: 30px;
}

table > tbody > tr:nth-child(even) > td:nth-child(even), table > tbody > tr:nth-child(odd) > td:nth-child(odd){
    background-color:red;
    color:white;
    transition : all 0.5s ease-in;
}

table > tbody > tr:nth-child(even) > td:nth-child(even):hover, table > tbody > tr:nth-child(odd) > td:nth-child(odd):hover{
    box-shadow: 3px 3px 5px 0px #c0c0c0;
    
}


footer{
    border-top : 1px solid black;
    margin-top: 30px;
    padding:5px;
    background-color:grey;
    color:white;
}

/*PENDU*/

.lettre_vide{
    margin-left:10px;
}

#message{
    margin-top:25px;
    font-size:20px;
    padding:5px;
    background-color:lightsteelblue;
    display:none;
}

.titre_pendu{
    background-color: lightblue;
    margin-top:20px;
}


.carte_defaut,.carte_active{
    padding:40px 20px;
    border: 3px solid #046380;
    margin:5px;
    border-radius: 5px;
    transition:all 0.3s ease-out;
    display:inline-block;
    background-color: white;
}



.carte_active::before {
    content: "\f059";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "Font Awesome 5 Free";
    font-size:40px;
    opacity:0;
 }

.carte_defaut::before {
    content: "\f059";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "Font Awesome 5 Free";
    left:-5px;
    top:0;
    font-size:40px;
    color:#046380;
    transition:all 0.3s ease-out;
 }
 
 .carte_defaut:hover::before {
     color:#eb2f4a;
 }
 
 

.carte_defaut:hover{
    box-shadow: 3px 3px 5px 0px #c0c0c0;
    border: 3px solid #eb2f4a;

}

.carte_trouve{
   
    transform: scale(0,0);
    opacity:0;
    transition : all 0.5s ease-out;
}

#tableau_memory{
    min-height:100px;
    padding : 30px;
    
}

#message_memory{
    padding:15px;
    background-color:#23a5cc;
    color:white;
    font-weight:bold;
    margin-top:15px;
    border-radius:3px;
    transition: all 0.5s ease-in;
    display:inline-block;
    margin : 0 auto;
    opacity:0;
}



input[type="number"]{
    padding:15px;
    border-radius: 5px;
    border:1px solid #23a5cc;
}

.ligne_carte{
    height: 60px;
    margin: 10px auto;
}

.bouton{
    padding:15px;
    background-color:#23a5cc;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid #23a5cc;
    transition: all 0.3s ease-out;
}

.bouton:hover{
    background-color:blueviolet;
    border:1px solid blueviolet;
}

